<link rel="stylesheet" href="/css/head_foot.css">
<footer>
    <p>&copy; 2024 HANU Email Web. All rights reserved.</p>
    <p>Contact me: <a href="mailto:dluy2406@gmail.com">dluy2406@gmail.com</a> | Phone: 0383522512</p>
</footer>