<link rel="stylesheet" href="/css/head_foot.css">

<header>
    <div class="logo">
        <a href="/">
                <img src="/img/mail-svgrepo-com.svg" alt="HANU EMAIL Logo" class="logo-image">
        </a>    
    </div>
    <div class="header-actions">
        {{#if loggedIn}}
            <span>Welcome, {{userFullname}}!</span>
            <a href="/logout">Sign Out</a>
        {{else}}
            <a href="/" class="btn">Sign In</a>
            <a href="/signup">Sign Up</a>
        {{/if}}
    </div>
</header>
