<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignment Wpr</title>
        <link rel="icon" type="image/png" href="/img/favicon.png">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    {{> header loggedIn=loggedIn userFullname=userFullname}}

    <div class="container">
        {{{body}}}
    </div>
    
    {{> footer}}
</body>