<!-- views/layouts/main.hbs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
    <style>
        * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.container {
    flex: 1;
    margin-top: 90px; /* Tạo khoảng trống bằng chiều cao header */
    padding: 20px;
    padding-bottom: 60px; /* Khoảng trống cho footer */
}

.error-message {
    color: red;
    font-size: 0.9em;
    margin-bottom: 1em;
}

.success-message {
    color: green;
    font-size: 0.9em;
    margin-bottom: 1em;
}
    </style>
</head>
<body>
    {{> header loggedIn=loggedIn userFullname=userFullname}} <!-- Truyền loggedIn và userFullname vào header -->
    <div class="container">
        {{{body}}}
    </div>
    {{> footer}}
</body>
</html>