<link rel="stylesheet" href="/css/access_deny.css">
    <div class="access-denied-container">
        <h1>ACCESS DENIED</h1>
        <h2>Sorry, you need to login to access this page.</h2>
        <a href="/">Back to Sign In</a>
    </div>
