<h1>Sign In</h1>
<form action="/signin" method="POST">
  <label for="email">Email:</label>
  <input type="text" id="email" name="email" required>

  <label for="password">Password:</label>
  <input type="password" id="password" name="password" required>

  <button type="submit">Sign In</button>
</form>

<p>Don't have an account? <a href="/signup">Sign up here</a></p>

{{#if error}}
  <p style="color: red;">{{error}}</p>
{{/if}}