

.access-denied-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    margin: 100px auto;
    max-width: 600px;
    position: relative;
    overflow: hidden;
    border-top: 5px solid #ff8e8e;
}

.access-denied-container > h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
    color: #2d3436;
    font-weight: 700;
    letter-spacing: 1px;
}

.access-denied-container >  h2 {
    font-size: 1.3em;
    color: #636e72;
    margin-bottom: 2em;
}

.access-denied-container > a {
    padding: 12px 30px;
    font-size: 1.5em;
    color: #fff;
    background: #ff8e8e;
    border-radius: 50px;
}

.access-denied-container >a:hover {
    background: #ff6b6b;
}
